.card {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-rows: minmax(100%, 1fr);
  grid-template-areas: "stack";
  overflow: hidden;
}

.card > img,
.card > figcaption {
  grid-area: stack;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card > figcaption {
  grid-area: stack;
  background-color: #242424e0;
  transform: translateY(350px);
  transition: transform 600ms;
}
.card__title {
  height: 4rem;
  color: white;
}

.card:hover figcaption {
  transform: none;
}
